[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/nexusdev/ds-auth
[submodule "lib/erc20"]
	path = lib/erc20
	url = https://github.com/nexusdev/erc20
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
